@import 'variables'

.main
  background: $mainBackground
  display: flex
  justify-content: space-between

  .main-filter-block
    width: 30%
    background: $filtersBackground
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    padding: 100px

    .filter-container
      width: 100%
      display: flex
      flex-direction: column

  .main-picture-block
    height: 85vh
    width: 70%
    background: $photosBackground
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

    .function-block
      display: flex
      justify-content: space-around
      width: 100%
      justify-self: start

      .function-block__button
        width: 20%
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        border: 2px solid white
        font-size: 24px
        color: white

    .photo-container
      width: 70%
      height: auto
      margin-top: 10%
      display: flex
      justify-content: center
      align-items: center
      background: #313163
      justify-self: self-end

      .photo-canvas

        width: 100%









